<ion-content>
  <div class="inputs">
    <ion-grid [class.shadow-green]="form.valid" class="shadow-high" fixed>
      <form [formGroup]="form">
        <ion-row class="ion-justify-content-center">
          <ion-col *ngFor="let item of inputs" size="1">
            <ion-input
              type="tel"
              placeholder="0"
              formControlName="{{ item }}"
            ></ion-input>
          </ion-col>
        </ion-row>
      </form>
    </ion-grid>
  </div>

  <div class="continue">
    <h3 *ngIf="!form.valid">Esperando SMS...</h3>

    <h3 *ngIf="form.valid">Bienvenido 🔥</h3>
  </div>
</ion-content>
